*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  color: white;
  padding: 10px;
        }

.container {
  width: 375px;
  padding: 5px 0px;
  position: absolute;
}

.row {
  width: 375px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
    background-color: #307492;
}

.row:hover {
  background-color: #275E76;
}

.line {
  font-size: 24px;
  float: right;
  padding-right: 10px;
}

.frequency {
  font-size: 24px;
  margin-left: auto;
  padding-left: 10px;
}

.minutes {
  font-size: 14px;
  padding: 5px 10px;
  float: right;
}

.direction {
  font-size: 14px;
  padding: 5px 0px;
  padding-left: 10px;
}

.destination {
  font-size: 12px;
  padding-left: 10px;
}
