*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
  color: white;
  padding: 10px;
        }

.container {
  width: 375px;
  height: 667px;
  padding: 5px 0px;
  position: absolute;
  overflow: visible;
}

.row {
  width: 375px;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
  background-color: #307492;
}

.nav img[src="Status.png"] {
    padding-bottom: 5px;
}

.nav img[src="Search.png"] {
    padding-bottom: 10px;
}

.nav {
  width: 375px;
  border-bottom: 1px solid #275E76;
  padding: 5px;
  background-color: #275E76;
  font-family: "Helvetica Neue", sans-serif;

}
}

.stat {
  padding-bottom: 10px;
}

.sear {
  padding-top: 5px;
  padding-left: 5px;
}

.row:hover {
  background-color: #275E76;
}

.line {
  font-size: 24px;
  float: right;
  padding-right: 10px;
}

.frequency {
  font-size: 24px;
  margin-left: auto;
  padding-left: 10px;
}

.minutes {
  font-size: 14px;
  padding: 5px 10px;
  float: right;
}

.direction {
  font-size: 14px;
  padding: 5px 0px;
  padding-left: 10px;
}

.destination {
  font-size: 12px;
  padding-left: 10px;
}
