*, *:before, *:after {
  box-sizing: border-box;
}

.css-selector {
  font-family: 'Roboto', serif;
}

body {
  color: white;
  padding: 10px;
}

.container {
  width: 375px;
  height: 667px;
  position: absolute;
}

.row {
  width: 375px;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
  background-color: #172c4f;
}

.stat {
  padding-bottom: 10px;
}

.nav img[src="images/Status.png"] {
    padding-bottom: 5px;
}


.searchbar {
  background-color: #172c4f;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  align-items: center;
}

.searchbar input[type=text] {
      width: 280px;
      font-size: 17px;
      border-radius: 10px;
      border: 1px #ddd solid;
      padding: 5px 5px 5px 25px;
      font-family: 'Roboto', serif;
      margin: 0px 15px 10px 10px;
}

li {
    float: left;
}

.nav {
  width: 375px;
  padding: 5px;
  background-color: #172c4f;
  font-family: "Roboto", sans-serif;

}

.mapspace img[src="images/Map.png"] {
  width: 375px;
}

.row:hover {
  background-color: #1f3a68;
}

.line {
  font-size: 24px;
  float: right;
  padding-right: 10px;
}

.frequency {
  font-size: 24px;
  margin-left: auto;
  padding-left: 10px;
}

.minutes {
  font-size: 14px;
  padding: 5px 10px;
  float: right;
}

.direction {
  font-size: 14px;
  padding: 5px 0px;
  padding-left: 10px;
}
